@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@600;900&family=Oleo+Script&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

:root {
  background-color: #3656b8;
  font-family: "Montserrat", "Poppins", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: rgba(0, 0, 0, 1);
  --gulf-blue: rgba(7, 26, 84, 1);
  --gulf-blue-dark: rgb(5, 19, 61);
  --blue-zodiac: rgba(24, 39, 84, 1);
  --violet-blue: rgba(53, 86, 183, 1);
  --fresh-air: rgba(168, 249, 255, 1);
  --atomic-tangerine: rgba(255, 153, 102, 1);
  --atomic-tangerine-2: rgba(252, 156, 108, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxxs: 0.9rem;
  --font-size-xxs: 1rem;
  --font-size-xs: 1.25rem;
  --font-size-s: 1.5rem;
  --font-size-m: 1.88rem;
  --font-size-l: 2.25rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 4rem;
  --font-size-xxxl: 6rem;

  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-oleo: "Oleo Script", cursive;

  --overlay--height: 270px;
  --overlay-top: 150px;
}

body {
  margin: 0;
  /* overflow-x: hidden; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.monstserrat-s {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
}
.monstserrat-xs {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
}

.accent-text-orange,
.accent-text-orange__link {
  font-weight: 700;
  color: var(--atomic-tangerine);
}

.accent-text-orange__link:hover {
  text-decoration: underline;
}

.accent-text-orange-semibold {
  font-weight: 600;
  color: var(--atomic-tangerine);
}

.accent-text-blue {
  font-weight: 700;
  color: var(--fresh-air);
}

.accent-text-orange__normal {
  font-weight: 400;
  color: var(--atomic-tangerine);
}

.accent-text-orange__link-normal {
  font-weight: 400;
  color: var(--atomic-tangerine);
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #72aaaf;
  -webkit-box-shadow: 0 0 0px 30px rgb(170, 249, 255) inset;
  outline: none !important;
}

/* *************************CUSTOM SCROLLBAR******************** */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 70px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.accent-text-orange__link-normal:hover {
  text-decoration: none;
}
