.app-navigation {
    font-family: var(--font-family-poppins);
    margin-top: 60px;
    margin-bottom: 140px;
}

.app-navigation__caption {
    font-size: var(--font-size-l);
    margin-bottom: 40px;
}

.app-navigation__components {
    padding: 75px 50px 30px;
    background-color: var(--fresh-air);
    box-shadow: -7px 6px 45px 3px rgba(18, 236, 208, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 950px;
}

a.reset {
    display: block;
}